

* {
    padding: 0; margin: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  padding: 1.2em 10%;
  border-bottom: solid 1px #cecece;
  flex-flow: column wrap;
}

.logo {
  margin: 0 0 0 0;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: .5em;
}

.logo a {
  color: #242424;
}

.logo span {
    font-weight: 700;
    color: #5B8DEF;
}

.logo, .navigation {
    list-style: none;
}

.navigation a, .logo a {
    text-decoration: none;
    font-weight: 400;
}

.header__container a {
    text-decoration: none;
}

.navigation  {
  display: flex;
  flex-flow: column wrap; /*mobile*/
  text-align: center;
}

.navigation a {
  display: block;
  margin: 0 .7em;
  padding: .5em 0;
  color: #242424;
  font-size: 18px;
}

.navigation a:hover {
    color: #5B8DEF;
}

.header__container {
    background-color: #5B8DEF;
    padding: 5em 0;
    border-bottom: solid 1px #acacac;
}

.title__container {
    color: #fefefe;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.title__container h1 {
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 1em;
}

.title__container h2 {
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 2.5em;
    line-height: 1.7em;
}

.title__container button {
    font-weight: 400;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
    color: #fefefe;
    border: solid 2px #fefefe;
    padding: .8em .9em;
    transition: .35s;
    cursor: pointer;
}

.title__container button:hover {
    background-color: #fefefe;
    color: #5b8def !important;
}

.services__container {
    height: 100%;
    color: #424242;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    padding: 5em 0 0 0;
}

.service {
    height: auto;
    width: 100%;
}

.service__img {
    width: 150px;
    height: 150px;
    margin: 0 auto 2em auto;
}

#design {
    background-image: url(../images/design.svg);
}

#frontEnd {
    background-image: url(../images/FEdev.svg);
}

#backEnd {
    background-image: url(../images/BEdev.svg);
}

.services__container h1 {
    font-size: 1.4em;
    padding-bottom: 1em;
}

.services__container p {
    font-size: .9em;
    color: #646464;
    padding-bottom: 5em;
    line-height: 1.7em;
}


.work__container {
    display: flex;
    background-color: #fefefe; 
    flex-flow: column wrap;
}

.work__container article {
    width: 100%;
    background-color: #5b8def;
    padding: 6em 0;
    text-align: center;
    border-bottom: solid 1px #5b8def;
}

.work__container h1 {
    padding-bottom: 1.5em;
    color: #fefefe;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 400;
}

.work__container a {
    text-decoration: none;
    color: #fefefe;
}

.work__container button {
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
    color: #fefefe;
    border: solid 2px #fefefe;
    padding: .7em .9em;
    transition: .35s;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    
}


.work__container button:hover {
    background-color: #fefefe;
    color: #5b8def;
}

.weather {
    background: url(../images/weather.jpg) center center no-repeat;
    background-size: cover;
}

.loc8r {
    background: url(../images/loc8r.jpg) center center no-repeat;
    background-size: cover;
}

.animation {
    background: url(../images/animation.jpg) center center no-repeat;
    background-size: cover;
}

.form {
    background: url(../images/form.jpg) center center no-repeat;
    background-size: cover;
}


.contact__container {
    padding: 5em 0;
    background-color: #fefefe;
    display: block;

    
}

.contact__container h1 {
    font-size: 1.6em;
    font-weight: 400;
    padding-bottom: 1em;
    margin: 0 auto;
    text-align: center;
    color: #424242;
    
}


form {
    width: 75%;
    margin: 0 auto;
    position: relative;
    left: -15px;
}

input,
textarea {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 8px 0;
    padding: 10px 15px;
    background: #fefefe;
    color: #424242;
    font-size: 1em;
    border: 1px solid #424242;
    -webkit-appearance: none;
    font-family: 'Libre Franklin', sans-serif;
}

input[type=submit],
textarea[type=submit] {
    color: #fefefe;
    border-color: #5b8def;
    background-color: #5b8def;
    width: 120px;
    font-weight: 400;
    font-size: 1.2em;
    -webkit-transition: .35s;
    transition: .35s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5b8def;
    border-color: #5b8def;
    color: #fefefe;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aaa;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #424242;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #424242;
}

input::placeholder,
textarea::placeholder {
    color: #424242;
}

input.error,
textarea.error {
    background: #AD4747;
    color: #fefefe;
}

input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder {
    color: #424242;
}

input.error::-moz-placeholder,
textarea.error::-moz-placeholder {
    color: #424242;
}

input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder {
    color: #424242;
}

input.error::placeholder,
textarea.error::placeholder {
    color: #424242;
}

textarea {
    height: 10em;
}

footer {
    padding: 3em 0;
    background-color: #5b8def;
    color: #fefefe;
    text-align: center;
}

.social__container  li{
    display: inline-block;
    padding: 1em .5em;
}

.social__container li a {
    text-decoration: none;
    color: #fefefe;
    font-weight: 700;
}


footer p {
    font-size: .8em;
    line-height: 1.7em;
    max-width: 80%;
    margin: 0 auto;
}






/*******************************************************************/


@media(min-width: 45em){
    
    .logo {
        padding-bottom: 0;    
    }
    
    .flex-container {
        flex-flow: row;
    }
    
    .navigation {
        flex-flow: row;
    }
    
    .header__container {
        background: url(../images/bg.jpg) center center no-repeat;
        background-size: cover;
        padding: 10em 0;
    }
    
    .title__container {
        width: 40%;
        margin: 0;
        padding: 0 0 0 10%;
        text-align: left;

    }
    
    .title__container button {
        margin: 0;
    }
    
    .services__container {
        width: 75%;
        
    }
    
    .service__img {
        width: 175px;
        height: 175px;
    }
    
    .services__container h1 {
        font-size: 1.4em;
    }
    
    .services__container p {
        font-size: 1em;
    }
  
    .work__container {
        flex-flow: row wrap;
    }
    
    .work__container article {
        width: 50%;
        border-bottom: none;
}

    
}

@media (min-width: 60em) { 
    
    
    body {
        font-size: 18px;
    }
    
    .flex-container {
        padding: 1.2em 15%;
    }
    
    .title__container {
        padding-left: 15%;
        width: 33.33%;
    }
    
    .services__container {
        width: 90%;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 6em 0;
    }
    
    .service {
        width: 28%;
        height: 400px;
    }
    
    .services__container h1 {
        font-size: 1.2em;
    }
    
    .services__container p {
        font-size: .7em;
        padding-bottom: 0;
    }
    
    .service__img {
        width: 130px;
        height: 130px;
        margin-bottom: 3em;
        
    }
    
    .contact__container {
        padding: 5em 15%; /**padding bug in IE**/
    }
}

@media (min-width: 80em) { 
    
       body {
        font-size: 19px;
    }
    

    .title__container {
        width: 25%;
    }
    
    .title__container h1 {
        font-size: 1.7em;
    }
    
    .title__container h2 {
        font-size: 1.1em;
    }
    
    .service {
        height: 410px;
    }
    
    .services__container p {
        font-size: .8em;
    }
    
    .work__container article {
        width: 25%;
    }
    
    .contact__container {
        padding: 9em 25%;
    }
    
    .header__container {
        padding: 12em 0;
    }
}


@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

